<footer>
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <hr width="100%" size="5px" color="#fff" align="center">
      © 2020 Copyright:
      <a class="text-dark" href="https://github.com/Whitegears">Hotovchit Anton</a>
    </div>
</footer>